<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Eproject is a payment solution that helps individuals to make and receive payment, pay bills and manage their finances across multiple banks on a single platform.">
    <title>Eproject</title>
    <link rel="stylesheet" href="/assets/style/landpage.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

    <div class="main-body p-3">

        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/logo-light2.png" alt="Logo" width="150"
                        class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto ms-0 ms-md-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#service">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact Us</a>
                        </li>

                    </ul>
                    <span class="navbar-text">
                        <a href="/auth-login.html" class="btn p-2">Login</a>
                        <a href="/auth-login.html" class="btn btn-org p-2 text-white">Register</a>
                    </span>
                </div>
            </div>
        </nav>

        <div class="container mt-md-5">
            <br>
            <section id="home" class="mt-1 mt-md-3">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="hero-head text-dark">
                            Eproject Easy <br>Payment
                        </div>
                        <p class="mt-3">Top up phone airtime or internet data. Pay electricity bills; renew TV
                            subscriptions.
                            Buy quality insurance covers, pay education bills, transfer funds and do more ...</p>

                        <a href="/auth-register.html" class="btn btn-org text-white get-started mt-3">Login</a>
                        <a href="/auth-register.html" class="btn btn-org text-white get-started mt-3">Get Started</a>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="h6 text-center mt-5 mt-md-0">Quick Action</div>

                        <div class="qa mt-5">
                            <div class="row">
                                <div class="col-4">
                                    <div class="card p-2 br-2">
                                        <a href="airtime.html" data-bs-toggle="modal"
                                            data-bs-target=".bs-example-modal-center1" class="qbox">
                                            <div class="item-box">
                                                <i class="ri-phone-line"></i>
                                            </div>
                                            <div class="text mt-2">
                                                <p class="text-dark">Airtime</p>
                                            </div>

                                        </a>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="card p-2 br-2">
                                        <a href="data.html" data-bs-toggle="modal"
                                            data-bs-target=".bs-example-modal-center2" class="qbox">
                                            <div class="item-box">
                                                <i class=" ri-wifi-line"></i>
                                            </div>
                                            <div class="text mt-2">
                                                <p class="text-dark">Data</p>
                                            </div>

                                        </a>
                                    </div>
                                </div>


                                <div class="col-4">
                                    <div class="card p-2 br-2">
                                        <a href="electricity.html" data-bs-toggle="modal"
                                            data-bs-target=".bs-example-modal-center3" class="qbox">
                                            <div class="item-box">
                                                <i class=" ri-lightbulb-flash-line"></i>
                                            </div>
                                            <div class="text mt-2">
                                                <p class="text-dark">Electricity</p>
                                            </div>

                                        </a>
                                    </div>
                                </div>


                            </div>


                            <div class="row mt-4">
                                <div class="col-4">
                                    <div class="card p-2 br-2">
                                        <a href="tv.html" data-bs-toggle="modal"
                                            data-bs-target=".bs-example-modal-center4" class="qbox">
                                            <div class="item-box">
                                                <i class="ri-tv-line"></i>
                                            </div>
                                            <div class="text mt-2">
                                                <p class="text-dark">Tv</p>
                                            </div>

                                        </a>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="card p-2 br-2">
                                        <a href="betting.html" class="qbox">
                                            <div class="item-box">
                                                <i class="ri-dribbble-line"></i>
                                            </div>
                                            <div class="text mt-2">
                                                <p class="text-dark">Bet</p>
                                            </div>

                                        </a>
                                    </div>
                                </div>


                                <div class="col-4">
                                    <div class="card p-2 br-2">
                                        <a href="internet.html" class="qbox">
                                            <div class="item-box">
                                                <i class=" ri-grid-line"></i>
                                            </div>
                                            <div class="text mt-2">
                                                <p class="text-dark">More</p>
                                            </div>

                                        </a>
                                    </div>
                                </div>






                            </div>

                        </div>


                    </div>
                </div>
            </section>
            <br>
            <section id="service" class="mt-5">
                <div class="h6 text-center hold-sub">
                    <div class="sub-title">Our Service</div>

                </div>
                <div class="h2 text-center mt-3">Explore Our endless <span class="text-org fw-bold">possibilities</span>
                    of
                    a payment <br>innovation.</div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 sec2">
                        <img src="/assets/images/img2.png" width="550" id="sec2-img" alt="">
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <br>
                        <div class="h4 rt">Access to all Services</div>
                        <p class="mt-3">Access all VTU services, tools, analytics, support and many more from a single
                            dashboard as a normal user, reseller etc.</p>

                        <a href="/auth-register.html" class="btn btn-org text-white get-started mt-3">Get Started</a>
                    </div>

                </div>

                <div class="row mt-5 flex-column-reverse flex-sm-row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="h4 rt">Achieve much more.
                            Reach a wider market</div>
                        <p class="mt-3">Provide your goods and services to an extended target of customers and
                            prospects,
                            while monitoring all transactions from initiation to payment.</p>

                        <a href="/auth-register.html" class="btn btn-org text-white get-started mt-3">Get Started</a>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 sec3">
                        <img src="/assets/images/Vector.png" alt="" class="mt-4 mt-md-0">
                    </div>
                </div>
            </section>

            <br>
            <section id="features" class="mt-5">
                <div class="h6 text-center hold-sub">
                    <div class="sub-title">Features</div>

                </div>
                <div class="h2 text-center mt-3">Pay bills and send money
                    without <span class="text-org fw-bold">stress </span></div><br>
                <p class="text-center text-gray">Securely make payments to suppliers, vendors, staff and other billers
                    into their
                    accounts in any bank or mobile wallets,<br> around-the-clock, including after official
                    work hours, weekends and public holidays.</p>

                <div class="text-center feature">
                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/aedc.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/dstv.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/eedc.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/ekiti.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/gotv.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/ikeja.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/ibedc.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/jos.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/phedc.png" alt="">
                    </div>
                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/startimes.png" alt="">
                    </div>

                    <div class="card p-2 fea-item">
                        <img src="/assets/images/companies/swift.png" alt="">
                    </div>
                </div>
            </section>
            <br>
            <section id="contact" class="mt-5">
                <div class="h6 text-center hold-sub">
                    <div class="sub-title">Contact Us</div>
                </div>

                <p class="text-center">We have provided a number of support channels
                    to help you get what you want</p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">

                    </div>
                </div>
            </section>
        </div>


    </div>

    <!-- MOdal for Airtime-->
    <div class="modal fade bs-example-modal-center1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h5 class="modal-title">Buy Airtime</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="custom-validation" action="transactionview.html">

                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12"></div>
                        </div>
                        <div class="mb-3">
                            <label for="validationCustom03" class="form-label">Select Network</label>
                            <select class="form-select p-12" id="validationCustom03" required>
                                <option selected disabled value="">Choose network...</option>
                                <option class="d-flex"> MTN </option>
                                <option class="d-flex"> Airtel</option>
                                <option class="d-flex"> Glo </option>
                                <option class="d-flex"> 9Mobile</option>
                            </select>

                        </div>
                        <div class="mb-3">
                            <label>Phone number</label>
                            <input type="text" class="form-control p-12" required
                                placeholder="Recipient Phone number" />
                        </div>



                        <div class="mb-3">
                            <label>Amount</label>
                            <div>
                                <input type="number" class="form-control p-12" required parsley-type="amount"
                                    placeholder="Amount to Recharge" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>Email (optional)</label>
                            <div>
                                <input type="email" class="form-control p-12" parsley-type="email"
                                    placeholder="Email" />
                            </div>
                        </div>



                        <div class="mb-0">
                            <div>
                                <button type="submit"
                                    class="btn btn-org text-white w-100 mt-2 waves-effect waves-light p-12">
                                    Countinue
                                </button>

                            </div>
                        </div>
                    </form>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- MOdal for Data-->
    <div class="modal fade bs-example-modal-center2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h5 class="modal-title">Buy Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="custom-validation" action="transactionview.html">

                        <div class="mb-3">
                            <label for="validationCustom03" class="form-label">Select Network</label>
                            <select class="form-select p-12" id="validationCustom03" required>
                                <option selected disabled value="">Choose network...</option>
                                <option class="d-flex"> MTN </option>
                                <option class="d-flex"> Airtel</option>
                                <option class="d-flex"> Glo </option>
                                <option class="d-flex"> 9Mobile</option>
                            </select>

                        </div>

                        <div class="mb-3">
                            <label for="validationCustom03" class="form-label">Select Type</label>
                            <select class="form-select p-12" id="validationCustom03" required>
                                <option selected disabled value="">Please select type...</option>
                                <option class="d-flex"> Airtel Data - 50 Naira - 40MB - 1Day</option>
                                <option class="d-flex"> Airtel Data - 100 Naira - 100MB - 1Day</option>
                                <option class="d-flex"> Airtel Data - 200 Naira - 200MB - 3Days</option>
                                <option class="d-flex"> Airtel Data - 500 Naira - 750MB - 7 Days</option>
                            </select>

                        </div>
                        <div class="mb-3">
                            <label>Phone number</label>
                            <input type="text" class="form-control p-12" required
                                placeholder="Recipient Phone number" />
                        </div>



                        <div class="mb-3">
                            <label>Amount</label>
                            <div>
                                <input type="number" class="form-control p-12" readonly parsley-type="amount"
                                    value="500" />
                            </div>
                        </div>

                        <div class="mb-0">
                            <div>
                                <button type="submit"
                                    class="btn btn-org text-white w-100 mt-2 waves-effect waves-light p-12">
                                    Countinue
                                </button>

                            </div>
                        </div>
                    </form>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- MOdal for Electricity-->
    <div class="modal fade bs-example-modal-center3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h5 class="modal-title">Buy Electricity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="custom-validation" action="transactionview.html">

                        <div class="mb-3">
                            <label for="validationCustom03" class="form-label">Select your DISCO</label>
                            <select class="form-select p-12" id="validationCustom03" required>
                                <option selected disabled value="">Select cable provider...</option>
                                <option class="d-flex"> Ikeja Electric Payment - IKEDC </option>
                                <option class="d-flex"> Eko Electric Payment - EKEDC</option>
                                <option class="d-flex"> Abuja Electricity Distribution Company- AEDC</option>
                            </select>

                        </div>

                        <div class="mb-3">
                            <label for="validationCustom03" class="form-label">Meter Type</label>
                            <select class="form-select p-12" id="validationCustom03" required>
                                <option selected disabled value="">Please select type...</option>
                                <option class="d-flex"> Prepaid</option>
                                <option class="d-flex"> Postpaid</option>

                            </select>

                        </div>

                        <div class="mb-3">
                            <label>Meter number</label>
                            <input type="text" class="form-control p-12" required placeholder="Meter number" />
                        </div>


                        <div class="mb-3">
                            <label>Phone number</label>
                            <input type="text" class="form-control p-12" required
                                placeholder="Recipient Phone number" />
                        </div>



                        <div class="mb-3">
                            <label>Email</label>
                            <div>
                                <input type="email" class="form-control p-12" required parsley-type="email"
                                    placeholder="Recipient Email" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>Amount</label>
                            <div>
                                <input type="number" class="form-control p-12" required parsley-type="amount"
                                    placeholder="Enter Amount" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <div>
                                <button type="submit" class="btn btn-org w-100 mt-2 waves-effect waves-light p-12">
                                    Countinue
                                </button>

                            </div>
                        </div>
                    </form>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- MOdal for TV-->
    <div class="modal fade bs-example-modal-center4" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h5 class="modal-title">Buy Electricity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="card-body m-0 p-0">



                        <!-- Nav tabs -->
                        <ul class="nav nav-pills p-0 m-0" role="tablist">
                            <li class="nav-item waves-effect waves-light tab-s ms-2 ms-md-3 ">
                                <a class="nav-link active" data-bs-toggle="tab" href="#dstv" role="tab">
                                    <span class="d-block">DSTV</span>
                                </a>
                            </li>
                            <li class="nav-item waves-effect waves-light tab-s ms-2 ms-md-3">
                                <a class="nav-link" data-bs-toggle="tab" href="#gotv" role="tab">
                                    <span class="d-block">GOTV</span>

                                </a>
                            </li>

                            <li class="nav-item waves-effect waves-light tab-s ms-2 ms-md-3">
                                <a class="nav-link" data-bs-toggle="tab" href="#startime" role="tab">
                                    <span class="d-block">STARTIME</span>

                                </a>
                            </li>

                            <li class="nav-item waves-effect waves-light tab-s ms-2 ms-md-3">
                                <a class="nav-link" data-bs-toggle="tab" href="#showmax" role="tab">
                                    <span class="d-block">SHOWMAX</span>

                                </a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content text-muted">
                            <div class="tab-pane active mt-3" id="dstv" role="tabpanel">
                                <form class="custom-validation" action="transactionview.html">




                                    <div class="mb-3">
                                        <label>Smart Card number</label>
                                        <input type="text" class="form-control p-12" required
                                            placeholder="Card number" />
                                    </div>

                                    <div class="mb-3">

                                        <div class="card  moni-card">
                                            <div class="tran-items">

                                                <div class="d-flex tran-item">
                                                    <p class="text-gray">Name</p>
                                                    <p class="d-flex"> <span class="ms-2">Nnaji Christian</span></p>
                                                </div>

                                                <div class="d-flex tran-item">
                                                    <p class="text-gray">Current Bouquet(s)</p>
                                                    <p class="d-flex"> <span class="ms-2">GOTV Jolli ₦2,800</span> </p>
                                                </div>


                                                <div class="d-flex tran-item">
                                                    <p class="text-gray">Due Date</p>
                                                    <p class="d-flex"> <span class="ms-2">March 15th, 2024</span> </p>
                                                </div>

                                                <div class="d-flex tran-item">
                                                    <p class="text-gray">Renewal Amount</p>
                                                    <p class="d-flex"> <span class="ms-2">₦3,863</span></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">What do you want to
                                            do?</label>
                                        <select class="form-select p-12" disabled id="validationCustom03" required>
                                            <option selected disabled value="">What do you want to do</option>
                                            <option class="d-flex"> Renew</option>
                                            <option class="d-flex"> Change new plan</option>

                                        </select>

                                    </div>

                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">Select a Bouquet </label>
                                        <select class="form-select p-12" id="validationCustom03" required>
                                            <option selected disabled value="">Please select type...</option>
                                            <option class="d-flex"> DSTV COMPACT (₦12500)</option>
                                            <option class="d-flex"> DSTV COMPACT PLUS (₦19800)</option>
                                            <option class="d-flex"> DSTV PREMIUM (₦29</option>
                                            <option class="d-flex"> DSTV PREMIUM ASIA (₦33000)</option>
                                        </select>

                                    </div>

                                    <div class="mb-3">
                                        <label>Amount</label>
                                        <div>
                                            <input type="number" class="form-control p-12" readonly
                                                parsley-type="amount" value="12500" />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control p-12" required
                                            placeholder="Recipient Phone number" />
                                    </div>



                                    <div class="mb-3">
                                        <label>Email</label>
                                        <div>
                                            <input type="email" class="form-control p-12" required parsley-type="email"
                                                placeholder="Recipient Email" />
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div>
                                            <button type="submit"
                                                class="btn btn-org w-100 mt-2 waves-effect waves-light p-12">
                                                Countinue
                                            </button>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="gotv" role="tabpanel">
                                <p class="mb-0">
                                <form class="custom-validation" action="transactionview.html">

                                    <div class="mb-3">
                                        <label>Smart Card number</label>
                                        <input type="text" class="form-control p-12" required
                                            placeholder="Card number" />
                                    </div>

                                    <div class="mb-3">

                                        <div class="card  moni-card">
                                            <div class="tran-items">

                                                <div class="d-flex tran-item">
                                                    <p class="text-gray">Name</p>
                                                    <p class="d-flex"> <span class="ms-2">Nnaji Christian</span></p>
                                                </div>

                                                <div class="d-flex tran-item">
                                                    <p class="text-gray">Current Bouquet(s)</p>
                                                    <p class="d-flex"> <span class="ms-2">GOTV Jolli ₦2,800</span> </p>
                                                </div>


                                                <div class="d-flex tran-item">
                                                    <p class="text-gray">Due Date</p>
                                                    <p class="d-flex"> <span class="ms-2">March 15th, 2024</span> </p>
                                                </div>

                                                <div class="d-flex tran-item">
                                                    <p class="text-gray">Renewal Amount</p>
                                                    <p class="d-flex"> <span class="ms-2">₦3,863</span></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">What do you want to
                                            do?</label>
                                        <select class="form-select p-12" disabled id="validationCustom03" required>
                                            <option selected disabled value="">What do you want to do</option>
                                            <option class="d-flex"> Renew</option>
                                            <option class="d-flex"> Change new plan</option>

                                        </select>

                                    </div>

                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">Select a Bouquet </label>
                                        <select class="form-select p-12" id="validationCustom03" required>
                                            <option selected disabled value="">Please select type...</option>
                                            <option class="d-flex"> DSTV COMPACT (₦12500)</option>
                                            <option class="d-flex"> DSTV COMPACT PLUS (₦19800)</option>
                                            <option class="d-flex"> DSTV PREMIUM (₦29</option>
                                            <option class="d-flex"> DSTV PREMIUM ASIA (₦33000)</option>
                                        </select>

                                    </div>

                                    <div class="mb-3">
                                        <label>Amount</label>
                                        <div>
                                            <input type="number" class="form-control p-12" readonly
                                                parsley-type="amount" value="12500" />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control p-12" required
                                            placeholder="Recipient Phone number" />
                                    </div>



                                    <div class="mb-3">
                                        <label>Email</label>
                                        <div>
                                            <input type="email" class="form-control p-12" required parsley-type="email"
                                                placeholder="Recipient Email" />
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div>
                                            <button type="submit"
                                                class="btn btn-org w-100 mt-2 waves-effect waves-light p-12">
                                                Countinue
                                            </button>

                                        </div>
                                    </div>
                                </form>
                                </p>
                            </div>

                            <div class="tab-pane" id="startime" role="tabpanel">
                                <p class="mb-0">
                                <form class="custom-validation" action="transactionview.html">

                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">Select a Bouquet </label>
                                        <select class="form-select p-12" id="validationCustom03" required>
                                            <option selected disabled value="">Please select type...</option>
                                            <option class="d-flex"> DSTV COMPACT (₦12500)</option>
                                            <option class="d-flex"> DSTV COMPACT PLUS (₦19800)</option>
                                            <option class="d-flex"> DSTV PREMIUM (₦29</option>
                                            <option class="d-flex"> DSTV PREMIUM ASIA (₦33000)</option>
                                        </select>

                                    </div>


                                    <div class="mb-3">
                                        <label>Startimes Smartcard /ewallet Number</label>
                                        <input type="text" class="form-control p-12" required
                                            placeholder=" Startimes Smartcard /ewallet Number" />
                                    </div>






                                    <div class="mb-3">
                                        <label>Amount</label>
                                        <div>
                                            <input type="number" class="form-control p-12" readonly
                                                parsley-type="amount" value="12500" />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control p-12" required
                                            placeholder="Recipient Phone number" />
                                    </div>



                                    <div class="mb-3">
                                        <label>Email</label>
                                        <div>
                                            <input type="email" class="form-control p-12" required parsley-type="email"
                                                placeholder="Recipient Email" />
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div>
                                            <button type="submit"
                                                class="btn btn-org w-100 mt-2 waves-effect waves-light p-12">
                                                Countinue
                                            </button>

                                        </div>
                                    </div>
                                </form>
                                </p>
                            </div>

                            <div class="tab-pane" id="showmax" role="tabpanel">
                                <p class="mb-0">
                                <form class="custom-validation" action="transactionview.html">

                                    <div class="mb-3">
                                        <label for="validationCustom03" class="form-label">Type</label>
                                        <select class="form-select p-12" id="validationCustom03" required>
                                            <option selected disabled value="">Please select type...</option>
                                            <option class="d-flex"> COMPACT (₦12500)</option>
                                            <option class="d-flex"> COMPACT PLUS (₦19800)</option>
                                            <option class="d-flex"> PREMIUM (₦29000)</option>
                                            <option class="d-flex"> PREMIUM ASIA (₦33000)</option>
                                        </select>

                                    </div>


                                    <div class="mb-3">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control p-12" required
                                            placeholder="Recipient Phone number" />
                                    </div>

                                    <div class="mb-3">
                                        <label>Amount</label>
                                        <div>
                                            <input type="number" class="form-control p-12" readonly
                                                parsley-type="amount" value="12500" />
                                        </div>
                                    </div>




                                    <div class="mb-3">
                                        <label>Email</label>
                                        <div>
                                            <input type="email" class="form-control p-12" required parsley-type="email"
                                                placeholder="Recipient Email" />
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div>
                                            <button type="submit"
                                                class="btn btn-org w-100 mt-2 waves-effect waves-light p-12">
                                                Countinue
                                            </button>

                                        </div>
                                    </div>
                                </form>
                                </p>
                            </div>

                        </div>

                    </div>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>